Name = "VM1"
QueryIntervalInSeconds = 60
ReportEndpoint = "https://aaa.bbb.com/report"
ReportTimeoutInSeconds = 10

[[Endpoints]]
    Name = "VM1.Node1.nonce"
    URL = "http://127.0.0.1:8080/node/status"
    Value = "data.metrics.erd_nonce"
    Type = "uint64"
    NumAggregation = 100

[[Endpoints]]
    Name = "VM1.Node2.nonce"
    URL = "http://127.0.0.1:8081/node/status"
    Value = "data.metrics.erd_nonce"
    Type = "uint64"
    NumAggregation = 100

[[Endpoints]]
    Name = "VM1.Node1.epoch"
    URL = "http://127.0.0.1:8080/network/status"
    Value = "data.status.erd_epoch_number"
    Type = "uint64"
    NumAggregation = 1